@using Web_ALPA.Models.Entidad
@model List<MenuTemp>

@foreach (var menu in Model)
{
    if (menu.ParentMenuID == 0)
    {
        if (menu.MenuID > 1)

        {
            <li class="kt-menu__item " aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                    <i class="@menu.MenuIcon"></i>
                    <span class="kt-menu__link-text">@menu.DisplayName</span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </a>


                <div class="kt-menu__submenu ">
                    <span class="kt-menu__arrow"></span>
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item kt-menu__item--parent" aria-haspopup="true">
                            <span class="kt-menu__link"><span class="kt-menu__link-text">@menu.DisplayName</span></span>
                        </li>

                        @foreach (var childx in Model)
                        {
                            if (childx.ParentMenuID == menu.MenuID)
                            {
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <a href="@childx.MenuURL" class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                        <span class="kt-menu__link-text">@childx.DisplayName</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                </div>


            </li>
        }
    }
}


