@using Web_ALPA.Data
@model List<KORBER_Listar_OrdenCompra_Det_Result>
<html>
<body>

    <div>
        <table class="table table-striped table-hover" id="kt_table5">

            <thead>
                <tr role="row">
                    <th class="text-dark">Almacen</th>
                    <th class="text-dark">Orden Compra</th>
                    <th class="text-dark">Articulo</th>
                    <th class="text-dark">Um</th>
                    <th class="text-dark">Lote</th>
                    <th class="text-dark">Linea</th>
                    <th class="text-dark" style="text-align:center">Fecha vencimiento</th>
                    <th class="text-dark">Cant Recibido</th>
                    <th class="text-dark">Cant Buenos</th>
                    <th class="text-dark">Cant Dañado</th>
                    <th class="text-dark">Cant Faltantes</th>
                    <th class="text-dark">Cant Sobrante</th>
                    <th class="text-dark">Flag Observado</th>
                    <th class="text-dark" style="text-align:center">...</th>
                    <th class="text-dark" style="text-align:center">Foto</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        //int @Code = Convert.ToInt32(Model[i].display_po_number);
                        string @Code = (Model[i].po_number);
                <tr>

                    <td>
                        @Html.HiddenFor(x => Model[i].wh_id)
                        @Html.DisplayFor(x => Model[i].wh_id, Model[i].wh_id)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].po_number)
                        @Html.DisplayFor(x => Model[i].po_number, Model[i].po_number)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].item_number)
                        @Html.DisplayFor(x => Model[i].item_number, Model[i].item_number)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].um)
                        @Html.DisplayFor(x => Model[i].um, Model[i].um)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].lot_number)
                        @Html.DisplayFor(x => Model[i].lot_number, Model[i].lot_number)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].line_number)
                        @Html.DisplayFor(x => Model[i].line_number, Model[i].line_number)
                    </td>

                    <td style="text-align: center; width: 140px">
                        @Html.HiddenFor(x => Model[i].FechaVencimiento_MXT)
                        @Html.DisplayFor(x => Model[i].FechaVencimiento_MXT, Model[i].FechaVencimiento_MXT)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].qty_received)
                        @Html.DisplayFor(x => Model[i].qty_received, Model[i].qty_received)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].cant_correcto)
                        @Html.DisplayFor(x => Model[i].cant_correcto, Model[i].cant_correcto)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].cant_defectuosa)
                        @Html.DisplayFor(x => Model[i].cant_defectuosa, Model[i].cant_defectuosa)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].cant_faltante)
                        @Html.DisplayFor(x => Model[i].cant_faltante, Model[i].cant_faltante)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].cant_sobrante)
                        @Html.DisplayFor(x => Model[i].cant_sobrante, Model[i].cant_sobrante)
                    </td>

                    <td>
                        @Html.HiddenFor(x => Model[i].flag_observado)
                        @Html.DisplayFor(x => Model[i].flag_observado, Model[i].flag_observado)
                    </td>

                    <td style="text-align:center">
                        <a href="#" class="BtnDetUsu btn btn-clean btn-sm btn-icon" data-Code="@Code" id="BtnDetUsu"
                           title="Ver detalle" data-placement="top">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="#ModalCrear" class="BtnDetEmp btn btn-clean btn-sm btn-icon" data-Code="@Code"
                           title="Ver detalle" data-toggle="modal">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    $('.BtnDetUsu').click("click", function () {
        var xCode = $(this).attr("data-Code");
        window.location.href = "../IngresosAlpa/EditarReporteCompra?oCode=" + xCode;
    });

    $(document).ready(function () {
        // DataTable
        var table = $('#kt_table5').DataTable({
           /* scrollY: '60vh',*/
            scrollCollapse: true,
            scrollX: true,
            paging: true,
            responsive: false,
            //autoWidth: true,
            //"processing": true,
            //"serverSide": true,
            // Pagination settings
            dom: `<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>
            <'row'<'col-sm-12'tr>>
            <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

            buttons: [
                // 'copyHtml5',
                //'excelHtml5',
            ],
            filterable: true,
            pagination: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
        });
    });
</script>

