
<body>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
            @ViewBag.oTitulo

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
        <form form id="form" class="kt-form">
            <fieldset id="SubmitFormx">
                <div>
                    <div class="form-group" style="display:none">
                        @Html.TextBox("oCode", ViewBag.oCode as string, "", new { @class = "form-control", @name = "oCode" })
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>RUC (*)</label>
                            @Html.TextBox("oRUC", ViewBag.oRUC as string, "", new { @class = "form-control validanumericos2", @disabled = "disabled", @name = "oRUC", @autocomplete = "off", @requerid = "requerid", @id = "oRUC", @maxlength = 11 })
                        </div>
                        <div class="col-lg-6">
                            <label>Codigo de Empresa (*)</label>
                            @Html.TextBox("oCodEmpresa", ViewBag.oCodEmpresa as string, "", new { @class = "form-control ", @disabled = "disabled", @name = "oCodEmpresa", @autocomplete = "off", @requerid = "requerid", @id = "oCodEmpresa" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-8">
                            <label>Nombre de Empresa (*)</label>
                            @Html.TextBox("oEmpresa", ViewBag.oEmpresa as string, "", new { @class = "form-control ", @disabled = "disabled", @name = "oEmpresa", @autocomplete = "off", @requerid = "requerid", @id = "oEmpresa" })
                        </div>

                        <div class="col-lg-4">
                            <label>Tipo (*)</label>
                            @Html.DropDownList("oCodTipoEmpresa", ViewBag.ListarTipo as SelectList, "Seleccionar",
                            new { @class = "form-control", @name = "oCodTipoEmpresa", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Contacto (*)</label>
                            @Html.TextBox("oContacto", ViewBag.oContacto as string, "", new { @class = "form-control ", @disabled = "disabled", @name = "oContacto", @autocomplete = "off", @requerid = "requerid", @id = "oContacto" })
                        </div>
                        <div class="col-lg-6">
                            <label>Teléfono de Contacto</label>
                            @Html.TextBox("oFonoContacto", ViewBag.oFonoContacto as string, "", new { @class = "form-control ", @disabled = "disabled", @name = "oFonoContacto", @autocomplete = "off", @requerid = "requerid", @id = "oFonoContacto" })
                        </div>
                    </div>

                    <div class="form-group row" style="display:none" id="divActivoEmp">
                        <div class="col-lg-6">
                            <label>Estado</label>
                            <div class="kt-checkbox-inline">
                                <label class="kt-checkbox kt-checkbox--brand">

                                    @if (ViewBag.oActivo == true)
                                    {<input type="checkbox" id="oActivoEMP" name="oActivoEMP" checked="checked" disabled="disabled">}
                                    else
                                    {<input type="checkbox" id="oActivoEMP" name="oActivoEMP" disabled="disabled">}
                                    Activo <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="kt-spinner kt-spinner--v2 kt-spinner--lg kt-spinner--focus" style="text-align:center;display:none" id="loaderDiv">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="BtnCerrar">Cerrar</button>
        <button type="button" class="btnRegistrarEmp btn btn-primary" id="btnRegistrarEmp"></button>
    </div>
</body>
@*<script src="../assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<script src="../assets/app/bundle/app.bundle.js" type="text/javascript"></script>*@

<script>

    $(document).ready(function () {
        var TipoForm = '@ViewBag.oTipoForm';
        var x = document.getElementById("divActivoEmp");
        if (TipoForm == 'A') {
            document.getElementById("btnRegistrarEmp").innerHTML = 'Registrar';
            document.getElementById("oCodEmpresa").disabled = true;
            document.getElementById("oEmpresa").disabled = false;
            document.getElementById("oRUC").disabled = false;
            document.getElementById("oCodTipoEmpresa").disabled = false;
            document.getElementById("oContacto").disabled = false;
            document.getElementById("oFonoContacto").disabled = false;
        }
        else {
            document.getElementById("btnRegistrarEmp").innerHTML = 'Editar';
            document.getElementById("oCodEmpresa").disabled = true;
            document.getElementById("oEmpresa").disabled = false;
            document.getElementById("oContacto").disabled = false;
            document.getElementById("oFonoContacto").disabled = false;
            x.style.display = "block";
            document.getElementById("oActivoEMP").disabled = false;
        }
    });


    $(function () {
        $('.validanumericos').keypress(function (e) {
            if (isNaN(this.value + String.fromCharCode(e.charCode)))
                return false;
        })
            .on("cut copy paste", function (e) {
                e.preventDefault();
            });
    });

    $(function () {
        $('.validanumericos2').keypress(function (e) {
            if (isNaN(this.value + String.fromCharCode(e.charCode)))
                return false;
        })
    });

    $('.btnRegistrarEmp').click("click", function () {

        var TipoForm = '@ViewBag.oTipoForm';
        var oMensaje = "";
        var oUrl = "";
        
        if (TipoForm == "A") {
            oUrl = '/IngresosAlpa/RegistrarEmpresa';
        }
        else {
            
            oUrl = '/IngresosAlpa/ActualizarEmpresa';
        }

        if (document.getElementById("oEmpresa").value == "" || document.getElementById("oRUC").value == "" ||
            document.getElementById("oContacto").value == "" || document.getElementById("oCodTipoEmpresa").value == "") {
            oMensaje = "Debe ingresar los datos obligatorios (*)";
        }

        if (oMensaje != "") {
            swal({
                type: 'info',
                title: 'Validación',
                text: oMensaje,
                showConfirmButton: true,
            });
        }
        else {

            $("#loaderDiv").show();
            var button = $(this).find('input[type="submit"]');
            setTimeout(function () {
                button.removeAttr('disabled');
            }, 1);
            
            var datax = new FormData();
            
            datax.append("oRUC", document.getElementById("oRUC").value);
            datax.append("oCodEmpresa", document.getElementById("oCodEmpresa").value);
            datax.append("oEmpresa", document.getElementById("oEmpresa").value);
            datax.append("oCodTipoEmpresa", document.getElementById("oCodTipoEmpresa").value);
            datax.append("oContacto", document.getElementById("oContacto").value);
            datax.append("oFonoContacto", document.getElementById("oFonoContacto").value);
            datax.append("oActivoEMP", document.getElementById("oActivoEMP").value);
            datax.append("oCode", document.getElementById("oCode").value);

            

            $.ajax({
                url: oUrl,
                type: "post",
                processData: false,
                data: datax,
                //dataType: 'json',
                contentType: false,
                success: function (result) {
                    $("#loaderDiv").hide();
                    $("#btnCrearEmp").show();
                    if (result.EnableSuccess == true) {
                        $("#ModalCrear").modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        swal({
                            //position: 'top-Center',
                            type: 'success',
                            title: result.SuccessMsg,
                            showConfirmButton: true,
                            timer: 4000
                        });
                        $('#progress').hide();
                        BuscarEmpresas();                       
                    }
                    else {
                        swal({
                            //position: 'top-right',
                            type: 'error',
                            title: 'No Creado',
                            text: result.SuccessMsg,
                            showConfirmButton: true,
                        });
                    }

                },
                error: function () {
                    console.log("fallo");
                    swal({
                        position: 'top-right',
                        type: 'error',
                        title: result.SuccessMsg,
                        showConfirmButton: true,
                        //timer: 3000
                    });
                }
            });

        }
    });

    $("#oRUC").change(function () {
        var xRUC = document.getElementById("oRUC").value;
        if (xRUC.length == 11) {
            //document.getElementById("oEmpresa").disabled = true;
            var datax = { oConsulta: "RUC", oNroDoc: xRUC };
            var oUrl = "@Url.Action("ValidarDocIdentidad", "IngresosAlpa")";
            $.ajax({
                url: oUrl, type: 'post', data: datax, dataType: 'json', success: function (result) {
                    if (result.EnableSuccess == true) {
                        document.getElementById("oEmpresa").value = result.xRazonSocial;
                        //document.getElementById("oRUC").disabled = true;
                        document.getElementById("oContacto").focus();
                    }
                    else {
                        document.getElementById("oEmpresa").disabled = false;
                        document.getElementById("oEmpresa").value = '';
                    }
                },
            });
        }
    });
</script>

