@using Web_ALPA.Models.Entidad

@model List<ProgInventarioFavo_Cab>

<html>
<body>
    <div>
        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_Scroller2">
            <thead class="thead-dark">
                <tr role="row">
                    <th class="text-light">#</th>
                    <th class="text-light">Fecha Prog</th>
                    <th class="text-light">Nro.Prog</th>
                    <th class="text-light">Creado por</th>
                    <th class="text-light">Fecha Cierre</th>
                    <th class="text-light">Cerrado por</th>
                    <th class="text-light">Tipo</th>
                    <th class="text-light">Estado</th>
                    <th class="text-light">Acción</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var @NroDoc = Model[i].U_NroDocumento;
                        <tr style="text-align:justify">
                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].Nro)
                                @Html.DisplayFor(x => Model[i].Nro, Model[i].Nro)
                            </td>

                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].U_FechaProgramacion)
                                @Html.DisplayFor(x => Model[i].U_FechaProgramacion)
                            </td>

                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].U_NroDocumento)
                                @Html.DisplayFor(x => Model[i].U_NroDocumento, Model[i].U_NroDocumento)
                            </td>



                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].U_UsuarioRegistro)
                                @Html.DisplayFor(x => Model[i].U_UsuarioRegistro)
                            </td>

                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].U_FechaCierre)
                                @Html.DisplayFor(x => Model[i].U_FechaCierre)
                            </td>
                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].U_UsuarioCierre)
                                @Html.DisplayFor(x => Model[i].U_UsuarioCierre)
                            </td>

                            <td class="text-dark">
                                @Html.HiddenFor(x => Model[i].U_Parcial)
                                @Html.DisplayFor(x => Model[i].U_Parcial)
                            </td>

                            <td class="text-dark">
                                @if (Model[i].U_Cerrado == true)
                                {
                                    <h4><span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill">CERRADO</span></h4>
                                }
                                else
                                {
                                    <h4><span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill"> ABIERTO</span></h4> 
                                }
                            </td>

                            <td>
                                @*<a href="#" style="width:25px" class="btnVerArticulo btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="modal"
                                       data-id="@NroDoc" title="Ver Detalle">
                                        <i class="la flaticon-visible"></i>
                                    </a>*@
                                <a href="@Url.Action("DetalleProgInventarioGral","Favo" , new { oNroDocumento = @NroDoc,oFechaDesde = @ViewBag.xFechaDesde, oFechaHasta = @ViewBag.xFechaHasta, oEstado = @ViewBag.xEstado })" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Ver Detalle"><i class="la flaticon-visible"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div> 
    <script src="~/assets/app/custom/general/components/datatables/MyTable/Table_Scrollable_V2.js"></script>
</body>
</html>



